@import url("https://use.typekit.net/enm4vrz.css");
@font-face {
	font-family: Duospace;
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/duospace/iAWriterDuospace-Regular.eot);
	src: url(/fonts/duospace/iAWriterDuospace-Regular.eot?#iefix) format("embedded-opentype"), url(/fonts/duospace/iAWriterDuospace-Regular.woff2) format("woff2"), url(/fonts/duospace/iAWriterDuospace-Regular.woff) format("woff"), url(/fonts/duospace/iAWriterDuospace-Regular.ttf) format("truetype")
}

@font-face {
	font-family: Duospace;
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/duospace/iAWriterDuospace-Bold.eot);
	src: url(/fonts/duospace/iAWriterDuospace-Bold.eot?#iefix) format("embedded-opentype"), url(/fonts/duospace/iAWriterDuospace-Bold.woff2) format("woff2"), url(/fonts/duospace/iAWriterDuospace-Bold.woff) format("woff"), url(/fonts/duospace/iAWriterDuospace-Bold.ttf) format("truetype")
}

html {
	font-size: 10px
}

blockquote,
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
	margin: 0;
	padding: 0
}

body {
	background: #f6f6f1;
	color: #111;
	font-family: "ff-meta-serif-web-pro", serif;
	font-size: 1.6rem;
	padding-bottom: 48px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2
}

p {
	line-height: 1.5
}

a {
	color: #0008b3
}

a:hover {
	color: #111
}

img {
	max-width: 100%
}

figure,
img {
	display: block
}

h1 {
	font-size: 4.2rem
}

.l-container {
	margin: auto;
	width: 90%
}

.l-container--shelf {
	max-width: 1024px
}

.l-container--highlights {
	max-width: 768px
}

.c-cover {
	box-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
	display: block;
	max-width: 250px
}

.c-cover__placeholder {
	background: #111;
	display: block;
	height: 0;
	padding-top: 160%;
	overflow: hidden;
	position: relative
}

.c-cover__title {
	color: #fff;
	font-family: Duospace, Courier, monospace;
	line-height: 1.7;
	padding: 16px;
	position: absolute;
	text-align: left;
	top: 0;
	left: 0
}

.c-cover__authors {
	display: block;
	font-size: 1.4rem
}

.c-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #111;
	color: #fff;
	display: inline-block;
	font-family: Duospace, Courier, monospace;
	font-size: 1.6rem;
	padding: 16px;
	text-decoration: none
}

.c-button:focus,
.c-button:hover {
	color: #fff;
	text-decoration: underline
}

.c-highlight {
	max-width: 55ch;
	margin: 48px auto
}

@media (min-width:768px) {
	.c-highlight {
		font-size: 2.1rem
	}
}

.c-highlight__body {
	line-height: 1.5;
	margin-bottom: 16px
}

.c-highlight__body ol,
.c-highlight__body p,
.c-highlight__body ul {
	margin-bottom: 1.4em
}

.c-highlight__body ol:last-child,
.c-highlight__body p:last-child,
.c-highlight__body ul:last-child {
	margin-bottom: 0
}

.c-highlight__body li {
	margin-bottom: .5em
}

.c-highlight__body span {
	background: #fdf1c8
}

.c-highlight__entity {
	color: #111;
	background: #fce7a1;
	text-decoration: none
}

.c-highlight__entity:focus,
.c-highlight__entity:hover {
	background: #f9d866
}

.c-highlight__nav,
.c-nav {
	font-size: 1.4rem
}

.c-nav {
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	font-family: Duospace, Courier, monospace;
	padding: 12px
}

.c-shelf {
	margin-top: 64px;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
	grid-column-gap: 32px
}

.c-shelf__volume {
	box-sizing: border-box;
	margin-bottom: 48px
}

.c-shelf__link .c-cover {
	-webkit-transition: all .28s ease;
	transition: all .28s ease
}

.c-shelf__link {
	color: #111;
	display: block;
	text-decoration: none
}

.c-shelf__link:focus,
.c-shelf__link:hover {
	outline: none;
	box-shadow: 0 5px 0 #111
}

.c-shelf__link:focus .c-cover,
.c-shelf__link:hover .c-cover {
	box-shadow: 0 0 60px rgba(0, 0, 0, .2);
	-webkit-transform: rotate(1.5deg) scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
	transform: rotate(1.5deg) scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0)
}

.c-shelf__link:active .c-cover {
	-webkit-transform: rotate(1.5deg) scale3d(1.1, 1.1, 1) translate3d(0, -15px, 0);
	transform: rotate(1.5deg) scale3d(1.1, 1.1, 1) translate3d(0, -15px, 0)
}

.c-shelf__volume__title {
	font-family: Duospace, Courier, monospace;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 16px 0 0;
	padding-bottom: 8px
}

.c-volume-header {
	margin: 32px 0;
	text-align: center
}

@media (min-width:768px) {
	.c-volume-header {
		margin: 48px 0
	}
}

.c-volume-header .c-cover {
	margin: 0 auto 16px;
	max-width: 200px
}

.c-volume-header h1,
.c-volume-header h2 {
	margin-left: auto;
	margin-right: auto;
	max-width: 35ch
}

.c-volume-header h1 {
	font-size: 4.2rem
}

.c-volume-header h2 {
	font-size: 3.2rem;
	font-style: italic;
	font-weight: 400
}

.c-volume-header__authors {
	margin-top: 16px
}

.c-volume-header--small .c-cover {
	max-width: 100px
}

.c-volume-header--small h1 {
	font-size: 3.2rem
}

.c-volume-header--small h2 {
	font-size: 2.1rem
}

.u-antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.u-family-mono {
	font-family: Duospace, Courier, monospace!important
}

.u-margin--0 {
	margin: 0!important
}

.u-margin-top--0 {
	margin-top: 0!important
}

.u-margin-right--0 {
	margin-right: 0!important
}

.u-margin-bottom--0 {
	margin-bottom: 0!important
}

.u-margin-left--0,
.u-margin-x--0 {
	margin-left: 0!important
}

.u-margin-x--0 {
	margin-right: 0!important
}

.u-margin-y--0 {
	margin-bottom: 0!important;
	margin-top: 0!important
}

.u-padding--0 {
	padding: 0!important
}

.u-padding-top--0 {
	padding-top: 0!important
}

.u-padding-right--0 {
	padding-right: 0!important
}

.u-padding-bottom--0 {
	padding-bottom: 0!important
}

.u-padding-left--0,
.u-padding-x--0 {
	padding-left: 0!important
}

.u-padding-x--0 {
	padding-right: 0!important
}

.u-padding-y--0 {
	padding-bottom: 0!important;
	padding-top: 0!important
}

.u-margin--1 {
	margin: 4px!important
}

.u-margin-top--1 {
	margin-top: 4px!important
}

.u-margin-right--1 {
	margin-right: 4px!important
}

.u-margin-bottom--1 {
	margin-bottom: 4px!important
}

.u-margin-left--1,
.u-margin-x--1 {
	margin-left: 4px!important
}

.u-margin-x--1 {
	margin-right: 4px!important
}

.u-margin-y--1 {
	margin-bottom: 4px!important;
	margin-top: 4px!important
}

.u-padding--1 {
	padding: 4px!important
}

.u-padding-top--1 {
	padding-top: 4px!important
}

.u-padding-right--1 {
	padding-right: 4px!important
}

.u-padding-bottom--1 {
	padding-bottom: 4px!important
}

.u-padding-left--1,
.u-padding-x--1 {
	padding-left: 4px!important
}

.u-padding-x--1 {
	padding-right: 4px!important
}

.u-padding-y--1 {
	padding-bottom: 4px!important;
	padding-top: 4px!important
}

.u-margin--2 {
	margin: 8px!important
}

.u-margin-top--2 {
	margin-top: 8px!important
}

.u-margin-right--2 {
	margin-right: 8px!important
}

.u-margin-bottom--2 {
	margin-bottom: 8px!important
}

.u-margin-left--2,
.u-margin-x--2 {
	margin-left: 8px!important
}

.u-margin-x--2 {
	margin-right: 8px!important
}

.u-margin-y--2 {
	margin-bottom: 8px!important;
	margin-top: 8px!important
}

.u-padding--2 {
	padding: 8px!important
}

.u-padding-top--2 {
	padding-top: 8px!important
}

.u-padding-right--2 {
	padding-right: 8px!important
}

.u-padding-bottom--2 {
	padding-bottom: 8px!important
}

.u-padding-left--2,
.u-padding-x--2 {
	padding-left: 8px!important
}

.u-padding-x--2 {
	padding-right: 8px!important
}

.u-padding-y--2 {
	padding-bottom: 8px!important;
	padding-top: 8px!important
}

.u-margin--3 {
	margin: 12px!important
}

.u-margin-top--3 {
	margin-top: 12px!important
}

.u-margin-right--3 {
	margin-right: 12px!important
}

.u-margin-bottom--3 {
	margin-bottom: 12px!important
}

.u-margin-left--3,
.u-margin-x--3 {
	margin-left: 12px!important
}

.u-margin-x--3 {
	margin-right: 12px!important
}

.u-margin-y--3 {
	margin-bottom: 12px!important;
	margin-top: 12px!important
}

.u-padding--3 {
	padding: 12px!important
}

.u-padding-top--3 {
	padding-top: 12px!important
}

.u-padding-right--3 {
	padding-right: 12px!important
}

.u-padding-bottom--3 {
	padding-bottom: 12px!important
}

.u-padding-left--3,
.u-padding-x--3 {
	padding-left: 12px!important
}

.u-padding-x--3 {
	padding-right: 12px!important
}

.u-padding-y--3 {
	padding-bottom: 12px!important;
	padding-top: 12px!important
}

.u-margin--4 {
	margin: 16px!important
}

.u-margin-top--4 {
	margin-top: 16px!important
}

.u-margin-right--4 {
	margin-right: 16px!important
}

.u-margin-bottom--4 {
	margin-bottom: 16px!important
}

.u-margin-left--4,
.u-margin-x--4 {
	margin-left: 16px!important
}

.u-margin-x--4 {
	margin-right: 16px!important
}

.u-margin-y--4 {
	margin-bottom: 16px!important;
	margin-top: 16px!important
}

.u-padding--4 {
	padding: 16px!important
}

.u-padding-top--4 {
	padding-top: 16px!important
}

.u-padding-right--4 {
	padding-right: 16px!important
}

.u-padding-bottom--4 {
	padding-bottom: 16px!important
}

.u-padding-left--4,
.u-padding-x--4 {
	padding-left: 16px!important
}

.u-padding-x--4 {
	padding-right: 16px!important
}

.u-padding-y--4 {
	padding-bottom: 16px!important;
	padding-top: 16px!important
}

.u-margin--5 {
	margin: 20px!important
}

.u-margin-top--5 {
	margin-top: 20px!important
}

.u-margin-right--5 {
	margin-right: 20px!important
}

.u-margin-bottom--5 {
	margin-bottom: 20px!important
}

.u-margin-left--5,
.u-margin-x--5 {
	margin-left: 20px!important
}

.u-margin-x--5 {
	margin-right: 20px!important
}

.u-margin-y--5 {
	margin-bottom: 20px!important;
	margin-top: 20px!important
}

.u-padding--5 {
	padding: 20px!important
}

.u-padding-top--5 {
	padding-top: 20px!important
}

.u-padding-right--5 {
	padding-right: 20px!important
}

.u-padding-bottom--5 {
	padding-bottom: 20px!important
}

.u-padding-left--5,
.u-padding-x--5 {
	padding-left: 20px!important
}

.u-padding-x--5 {
	padding-right: 20px!important
}

.u-padding-y--5 {
	padding-bottom: 20px!important;
	padding-top: 20px!important
}

.u-margin--6 {
	margin: 24px!important
}

.u-margin-top--6 {
	margin-top: 24px!important
}

.u-margin-right--6 {
	margin-right: 24px!important
}

.u-margin-bottom--6 {
	margin-bottom: 24px!important
}

.u-margin-left--6,
.u-margin-x--6 {
	margin-left: 24px!important
}

.u-margin-x--6 {
	margin-right: 24px!important
}

.u-margin-y--6 {
	margin-bottom: 24px!important;
	margin-top: 24px!important
}

.u-padding--6 {
	padding: 24px!important
}

.u-padding-top--6 {
	padding-top: 24px!important
}

.u-padding-right--6 {
	padding-right: 24px!important
}

.u-padding-bottom--6 {
	padding-bottom: 24px!important
}

.u-padding-left--6,
.u-padding-x--6 {
	padding-left: 24px!important
}

.u-padding-x--6 {
	padding-right: 24px!important
}

.u-padding-y--6 {
	padding-bottom: 24px!important;
	padding-top: 24px!important
}

.u-margin--7 {
	margin: 28px!important
}

.u-margin-top--7 {
	margin-top: 28px!important
}

.u-margin-right--7 {
	margin-right: 28px!important
}

.u-margin-bottom--7 {
	margin-bottom: 28px!important
}

.u-margin-left--7,
.u-margin-x--7 {
	margin-left: 28px!important
}

.u-margin-x--7 {
	margin-right: 28px!important
}

.u-margin-y--7 {
	margin-bottom: 28px!important;
	margin-top: 28px!important
}

.u-padding--7 {
	padding: 28px!important
}

.u-padding-top--7 {
	padding-top: 28px!important
}

.u-padding-right--7 {
	padding-right: 28px!important
}

.u-padding-bottom--7 {
	padding-bottom: 28px!important
}

.u-padding-left--7,
.u-padding-x--7 {
	padding-left: 28px!important
}

.u-padding-x--7 {
	padding-right: 28px!important
}

.u-padding-y--7 {
	padding-bottom: 28px!important;
	padding-top: 28px!important
}

.u-margin--8 {
	margin: 32px!important
}

.u-margin-top--8 {
	margin-top: 32px!important
}

.u-margin-right--8 {
	margin-right: 32px!important
}

.u-margin-bottom--8 {
	margin-bottom: 32px!important
}

.u-margin-left--8,
.u-margin-x--8 {
	margin-left: 32px!important
}

.u-margin-x--8 {
	margin-right: 32px!important
}

.u-margin-y--8 {
	margin-bottom: 32px!important;
	margin-top: 32px!important
}

.u-padding--8 {
	padding: 32px!important
}

.u-padding-top--8 {
	padding-top: 32px!important
}

.u-padding-right--8 {
	padding-right: 32px!important
}

.u-padding-bottom--8 {
	padding-bottom: 32px!important
}

.u-padding-left--8,
.u-padding-x--8 {
	padding-left: 32px!important
}

.u-padding-x--8 {
	padding-right: 32px!important
}

.u-padding-y--8 {
	padding-bottom: 32px!important;
	padding-top: 32px!important
}

.u-margin--9 {
	margin: 36px!important
}

.u-margin-top--9 {
	margin-top: 36px!important
}

.u-margin-right--9 {
	margin-right: 36px!important
}

.u-margin-bottom--9 {
	margin-bottom: 36px!important
}

.u-margin-left--9,
.u-margin-x--9 {
	margin-left: 36px!important
}

.u-margin-x--9 {
	margin-right: 36px!important
}

.u-margin-y--9 {
	margin-bottom: 36px!important;
	margin-top: 36px!important
}

.u-padding--9 {
	padding: 36px!important
}

.u-padding-top--9 {
	padding-top: 36px!important
}

.u-padding-right--9 {
	padding-right: 36px!important
}

.u-padding-bottom--9 {
	padding-bottom: 36px!important
}

.u-padding-left--9,
.u-padding-x--9 {
	padding-left: 36px!important
}

.u-padding-x--9 {
	padding-right: 36px!important
}

.u-padding-y--9 {
	padding-bottom: 36px!important;
	padding-top: 36px!important
}

.u-margin--10 {
	margin: 40px!important
}

.u-margin-top--10 {
	margin-top: 40px!important
}

.u-margin-right--10 {
	margin-right: 40px!important
}

.u-margin-bottom--10 {
	margin-bottom: 40px!important
}

.u-margin-left--10,
.u-margin-x--10 {
	margin-left: 40px!important
}

.u-margin-x--10 {
	margin-right: 40px!important
}

.u-margin-y--10 {
	margin-bottom: 40px!important;
	margin-top: 40px!important
}

.u-padding--10 {
	padding: 40px!important
}

.u-padding-top--10 {
	padding-top: 40px!important
}

.u-padding-right--10 {
	padding-right: 40px!important
}

.u-padding-bottom--10 {
	padding-bottom: 40px!important
}

.u-padding-left--10,
.u-padding-x--10 {
	padding-left: 40px!important
}

.u-padding-x--10 {
	padding-right: 40px!important
}

.u-padding-y--10 {
	padding-bottom: 40px!important;
	padding-top: 40px!important
}

.u-margin--auto {
	margin: auto!important
}

.u-margin-top--auto {
	margin-top: auto!important
}

.u-margin-right--auto {
	margin-right: auto!important
}

.u-margin-bottom--auto {
	margin-bottom: auto!important
}

.u-margin-left--auto,
.u-margin-x--auto {
	margin-left: auto!important
}

.u-margin-x--auto {
	margin-right: auto!important
}

.u-margin-y--auto {
	margin-bottom: auto!important;
	margin-top: auto!important
}

.u-margin--sm {
	margin: 16px!important
}

.u-margin-top--sm {
	margin-top: 16px!important
}

.u-margin-right--sm {
	margin-right: 16px!important
}

.u-margin-bottom--sm {
	margin-bottom: 16px!important
}

.u-margin-left--sm,
.u-margin-x--sm {
	margin-left: 16px!important
}

.u-margin-x--sm {
	margin-right: 16px!important
}

.u-margin-y--sm {
	margin-bottom: 16px!important;
	margin-top: 16px!important
}

.u-padding--sm {
	padding: 16px!important
}

.u-padding-top--sm {
	padding-top: 16px!important
}

.u-padding-right--sm {
	padding-right: 16px!important
}

.u-padding-bottom--sm {
	padding-bottom: 16px!important
}

.u-padding-left--sm,
.u-padding-x--sm {
	padding-left: 16px!important
}

.u-padding-x--sm {
	padding-right: 16px!important
}

.u-padding-y--sm {
	padding-bottom: 16px!important;
	padding-top: 16px!important
}

.u-margin--md {
	margin: 32px!important
}

.u-margin-top--md {
	margin-top: 32px!important
}

.u-margin-right--md {
	margin-right: 32px!important
}

.u-margin-bottom--md {
	margin-bottom: 32px!important
}

.u-margin-left--md,
.u-margin-x--md {
	margin-left: 32px!important
}

.u-margin-x--md {
	margin-right: 32px!important
}

.u-margin-y--md {
	margin-bottom: 32px!important;
	margin-top: 32px!important
}

.u-padding--md {
	padding: 32px!important
}

.u-padding-top--md {
	padding-top: 32px!important
}

.u-padding-right--md {
	padding-right: 32px!important
}

.u-padding-bottom--md {
	padding-bottom: 32px!important
}

.u-padding-left--md,
.u-padding-x--md {
	padding-left: 32px!important
}

.u-padding-x--md {
	padding-right: 32px!important
}

.u-padding-y--md {
	padding-bottom: 32px!important;
	padding-top: 32px!important
}

.u-margin--lg {
	margin: 48px!important
}

.u-margin-top--lg {
	margin-top: 48px!important
}

.u-margin-right--lg {
	margin-right: 48px!important
}

.u-margin-bottom--lg {
	margin-bottom: 48px!important
}

.u-margin-left--lg,
.u-margin-x--lg {
	margin-left: 48px!important
}

.u-margin-x--lg {
	margin-right: 48px!important
}

.u-margin-y--lg {
	margin-bottom: 48px!important;
	margin-top: 48px!important
}

.u-padding--lg {
	padding: 48px!important
}

.u-padding-top--lg {
	padding-top: 48px!important
}

.u-padding-right--lg {
	padding-right: 48px!important
}

.u-padding-bottom--lg {
	padding-bottom: 48px!important
}

.u-padding-left--lg,
.u-padding-x--lg {
	padding-left: 48px!important
}

.u-padding-x--lg {
	padding-right: 48px!important
}

.u-padding-y--lg {
	padding-bottom: 48px!important;
	padding-top: 48px!important
}

.u-margin--xl {
	margin: 64px!important
}

.u-margin-top--xl {
	margin-top: 64px!important
}

.u-margin-right--xl {
	margin-right: 64px!important
}

.u-margin-bottom--xl {
	margin-bottom: 64px!important
}

.u-margin-left--xl,
.u-margin-x--xl {
	margin-left: 64px!important
}

.u-margin-x--xl {
	margin-right: 64px!important
}

.u-margin-y--xl {
	margin-bottom: 64px!important;
	margin-top: 64px!important
}

.u-padding--xl {
	padding: 64px!important
}

.u-padding-top--xl {
	padding-top: 64px!important
}

.u-padding-right--xl {
	padding-right: 64px!important
}

.u-padding-bottom--xl {
	padding-bottom: 64px!important
}

.u-padding-left--xl,
.u-padding-x--xl {
	padding-left: 64px!important
}

.u-padding-x--xl {
	padding-right: 64px!important
}

.u-padding-y--xl {
	padding-bottom: 64px!important;
	padding-top: 64px!important
}

@media (min-width:544px) {
	.u-sm-margin--0 {
		margin: 0!important
	}
	.u-sm-margin-top--0 {
		margin-top: 0!important
	}
	.u-sm-margin-right--0 {
		margin-right: 0!important
	}
	.u-sm-margin-bottom--0 {
		margin-bottom: 0!important
	}
	.u-sm-margin-left--0,
	.u-sm-margin-x--0 {
		margin-left: 0!important
	}
	.u-sm-margin-x--0 {
		margin-right: 0!important
	}
	.u-sm-margin-y--0 {
		margin-bottom: 0!important;
		margin-top: 0!important
	}
	.u-sm-padding--0 {
		padding: 0!important
	}
	.u-sm-padding-top--0 {
		padding-top: 0!important
	}
	.u-sm-padding-right--0 {
		padding-right: 0!important
	}
	.u-sm-padding-bottom--0 {
		padding-bottom: 0!important
	}
	.u-sm-padding-left--0,
	.u-sm-padding-x--0 {
		padding-left: 0!important
	}
	.u-sm-padding-x--0 {
		padding-right: 0!important
	}
	.u-sm-padding-y--0 {
		padding-bottom: 0!important;
		padding-top: 0!important
	}
	.u-sm-margin--1 {
		margin: 4px!important
	}
	.u-sm-margin-top--1 {
		margin-top: 4px!important
	}
	.u-sm-margin-right--1 {
		margin-right: 4px!important
	}
	.u-sm-margin-bottom--1 {
		margin-bottom: 4px!important
	}
	.u-sm-margin-left--1,
	.u-sm-margin-x--1 {
		margin-left: 4px!important
	}
	.u-sm-margin-x--1 {
		margin-right: 4px!important
	}
	.u-sm-margin-y--1 {
		margin-bottom: 4px!important;
		margin-top: 4px!important
	}
	.u-sm-padding--1 {
		padding: 4px!important
	}
	.u-sm-padding-top--1 {
		padding-top: 4px!important
	}
	.u-sm-padding-right--1 {
		padding-right: 4px!important
	}
	.u-sm-padding-bottom--1 {
		padding-bottom: 4px!important
	}
	.u-sm-padding-left--1,
	.u-sm-padding-x--1 {
		padding-left: 4px!important
	}
	.u-sm-padding-x--1 {
		padding-right: 4px!important
	}
	.u-sm-padding-y--1 {
		padding-bottom: 4px!important;
		padding-top: 4px!important
	}
	.u-sm-margin--2 {
		margin: 8px!important
	}
	.u-sm-margin-top--2 {
		margin-top: 8px!important
	}
	.u-sm-margin-right--2 {
		margin-right: 8px!important
	}
	.u-sm-margin-bottom--2 {
		margin-bottom: 8px!important
	}
	.u-sm-margin-left--2,
	.u-sm-margin-x--2 {
		margin-left: 8px!important
	}
	.u-sm-margin-x--2 {
		margin-right: 8px!important
	}
	.u-sm-margin-y--2 {
		margin-bottom: 8px!important;
		margin-top: 8px!important
	}
	.u-sm-padding--2 {
		padding: 8px!important
	}
	.u-sm-padding-top--2 {
		padding-top: 8px!important
	}
	.u-sm-padding-right--2 {
		padding-right: 8px!important
	}
	.u-sm-padding-bottom--2 {
		padding-bottom: 8px!important
	}
	.u-sm-padding-left--2,
	.u-sm-padding-x--2 {
		padding-left: 8px!important
	}
	.u-sm-padding-x--2 {
		padding-right: 8px!important
	}
	.u-sm-padding-y--2 {
		padding-bottom: 8px!important;
		padding-top: 8px!important
	}
	.u-sm-margin--3 {
		margin: 12px!important
	}
	.u-sm-margin-top--3 {
		margin-top: 12px!important
	}
	.u-sm-margin-right--3 {
		margin-right: 12px!important
	}
	.u-sm-margin-bottom--3 {
		margin-bottom: 12px!important
	}
	.u-sm-margin-left--3,
	.u-sm-margin-x--3 {
		margin-left: 12px!important
	}
	.u-sm-margin-x--3 {
		margin-right: 12px!important
	}
	.u-sm-margin-y--3 {
		margin-bottom: 12px!important;
		margin-top: 12px!important
	}
	.u-sm-padding--3 {
		padding: 12px!important
	}
	.u-sm-padding-top--3 {
		padding-top: 12px!important
	}
	.u-sm-padding-right--3 {
		padding-right: 12px!important
	}
	.u-sm-padding-bottom--3 {
		padding-bottom: 12px!important
	}
	.u-sm-padding-left--3,
	.u-sm-padding-x--3 {
		padding-left: 12px!important
	}
	.u-sm-padding-x--3 {
		padding-right: 12px!important
	}
	.u-sm-padding-y--3 {
		padding-bottom: 12px!important;
		padding-top: 12px!important
	}
	.u-sm-margin--4 {
		margin: 16px!important
	}
	.u-sm-margin-top--4 {
		margin-top: 16px!important
	}
	.u-sm-margin-right--4 {
		margin-right: 16px!important
	}
	.u-sm-margin-bottom--4 {
		margin-bottom: 16px!important
	}
	.u-sm-margin-left--4,
	.u-sm-margin-x--4 {
		margin-left: 16px!important
	}
	.u-sm-margin-x--4 {
		margin-right: 16px!important
	}
	.u-sm-margin-y--4 {
		margin-bottom: 16px!important;
		margin-top: 16px!important
	}
	.u-sm-padding--4 {
		padding: 16px!important
	}
	.u-sm-padding-top--4 {
		padding-top: 16px!important
	}
	.u-sm-padding-right--4 {
		padding-right: 16px!important
	}
	.u-sm-padding-bottom--4 {
		padding-bottom: 16px!important
	}
	.u-sm-padding-left--4,
	.u-sm-padding-x--4 {
		padding-left: 16px!important
	}
	.u-sm-padding-x--4 {
		padding-right: 16px!important
	}
	.u-sm-padding-y--4 {
		padding-bottom: 16px!important;
		padding-top: 16px!important
	}
	.u-sm-margin--5 {
		margin: 20px!important
	}
	.u-sm-margin-top--5 {
		margin-top: 20px!important
	}
	.u-sm-margin-right--5 {
		margin-right: 20px!important
	}
	.u-sm-margin-bottom--5 {
		margin-bottom: 20px!important
	}
	.u-sm-margin-left--5,
	.u-sm-margin-x--5 {
		margin-left: 20px!important
	}
	.u-sm-margin-x--5 {
		margin-right: 20px!important
	}
	.u-sm-margin-y--5 {
		margin-bottom: 20px!important;
		margin-top: 20px!important
	}
	.u-sm-padding--5 {
		padding: 20px!important
	}
	.u-sm-padding-top--5 {
		padding-top: 20px!important
	}
	.u-sm-padding-right--5 {
		padding-right: 20px!important
	}
	.u-sm-padding-bottom--5 {
		padding-bottom: 20px!important
	}
	.u-sm-padding-left--5,
	.u-sm-padding-x--5 {
		padding-left: 20px!important
	}
	.u-sm-padding-x--5 {
		padding-right: 20px!important
	}
	.u-sm-padding-y--5 {
		padding-bottom: 20px!important;
		padding-top: 20px!important
	}
	.u-sm-margin--6 {
		margin: 24px!important
	}
	.u-sm-margin-top--6 {
		margin-top: 24px!important
	}
	.u-sm-margin-right--6 {
		margin-right: 24px!important
	}
	.u-sm-margin-bottom--6 {
		margin-bottom: 24px!important
	}
	.u-sm-margin-left--6,
	.u-sm-margin-x--6 {
		margin-left: 24px!important
	}
	.u-sm-margin-x--6 {
		margin-right: 24px!important
	}
	.u-sm-margin-y--6 {
		margin-bottom: 24px!important;
		margin-top: 24px!important
	}
	.u-sm-padding--6 {
		padding: 24px!important
	}
	.u-sm-padding-top--6 {
		padding-top: 24px!important
	}
	.u-sm-padding-right--6 {
		padding-right: 24px!important
	}
	.u-sm-padding-bottom--6 {
		padding-bottom: 24px!important
	}
	.u-sm-padding-left--6,
	.u-sm-padding-x--6 {
		padding-left: 24px!important
	}
	.u-sm-padding-x--6 {
		padding-right: 24px!important
	}
	.u-sm-padding-y--6 {
		padding-bottom: 24px!important;
		padding-top: 24px!important
	}
	.u-sm-margin--7 {
		margin: 28px!important
	}
	.u-sm-margin-top--7 {
		margin-top: 28px!important
	}
	.u-sm-margin-right--7 {
		margin-right: 28px!important
	}
	.u-sm-margin-bottom--7 {
		margin-bottom: 28px!important
	}
	.u-sm-margin-left--7,
	.u-sm-margin-x--7 {
		margin-left: 28px!important
	}
	.u-sm-margin-x--7 {
		margin-right: 28px!important
	}
	.u-sm-margin-y--7 {
		margin-bottom: 28px!important;
		margin-top: 28px!important
	}
	.u-sm-padding--7 {
		padding: 28px!important
	}
	.u-sm-padding-top--7 {
		padding-top: 28px!important
	}
	.u-sm-padding-right--7 {
		padding-right: 28px!important
	}
	.u-sm-padding-bottom--7 {
		padding-bottom: 28px!important
	}
	.u-sm-padding-left--7,
	.u-sm-padding-x--7 {
		padding-left: 28px!important
	}
	.u-sm-padding-x--7 {
		padding-right: 28px!important
	}
	.u-sm-padding-y--7 {
		padding-bottom: 28px!important;
		padding-top: 28px!important
	}
	.u-sm-margin--8 {
		margin: 32px!important
	}
	.u-sm-margin-top--8 {
		margin-top: 32px!important
	}
	.u-sm-margin-right--8 {
		margin-right: 32px!important
	}
	.u-sm-margin-bottom--8 {
		margin-bottom: 32px!important
	}
	.u-sm-margin-left--8,
	.u-sm-margin-x--8 {
		margin-left: 32px!important
	}
	.u-sm-margin-x--8 {
		margin-right: 32px!important
	}
	.u-sm-margin-y--8 {
		margin-bottom: 32px!important;
		margin-top: 32px!important
	}
	.u-sm-padding--8 {
		padding: 32px!important
	}
	.u-sm-padding-top--8 {
		padding-top: 32px!important
	}
	.u-sm-padding-right--8 {
		padding-right: 32px!important
	}
	.u-sm-padding-bottom--8 {
		padding-bottom: 32px!important
	}
	.u-sm-padding-left--8,
	.u-sm-padding-x--8 {
		padding-left: 32px!important
	}
	.u-sm-padding-x--8 {
		padding-right: 32px!important
	}
	.u-sm-padding-y--8 {
		padding-bottom: 32px!important;
		padding-top: 32px!important
	}
	.u-sm-margin--9 {
		margin: 36px!important
	}
	.u-sm-margin-top--9 {
		margin-top: 36px!important
	}
	.u-sm-margin-right--9 {
		margin-right: 36px!important
	}
	.u-sm-margin-bottom--9 {
		margin-bottom: 36px!important
	}
	.u-sm-margin-left--9,
	.u-sm-margin-x--9 {
		margin-left: 36px!important
	}
	.u-sm-margin-x--9 {
		margin-right: 36px!important
	}
	.u-sm-margin-y--9 {
		margin-bottom: 36px!important;
		margin-top: 36px!important
	}
	.u-sm-padding--9 {
		padding: 36px!important
	}
	.u-sm-padding-top--9 {
		padding-top: 36px!important
	}
	.u-sm-padding-right--9 {
		padding-right: 36px!important
	}
	.u-sm-padding-bottom--9 {
		padding-bottom: 36px!important
	}
	.u-sm-padding-left--9,
	.u-sm-padding-x--9 {
		padding-left: 36px!important
	}
	.u-sm-padding-x--9 {
		padding-right: 36px!important
	}
	.u-sm-padding-y--9 {
		padding-bottom: 36px!important;
		padding-top: 36px!important
	}
	.u-sm-margin--10 {
		margin: 40px!important
	}
	.u-sm-margin-top--10 {
		margin-top: 40px!important
	}
	.u-sm-margin-right--10 {
		margin-right: 40px!important
	}
	.u-sm-margin-bottom--10 {
		margin-bottom: 40px!important
	}
	.u-sm-margin-left--10,
	.u-sm-margin-x--10 {
		margin-left: 40px!important
	}
	.u-sm-margin-x--10 {
		margin-right: 40px!important
	}
	.u-sm-margin-y--10 {
		margin-bottom: 40px!important;
		margin-top: 40px!important
	}
	.u-sm-padding--10 {
		padding: 40px!important
	}
	.u-sm-padding-top--10 {
		padding-top: 40px!important
	}
	.u-sm-padding-right--10 {
		padding-right: 40px!important
	}
	.u-sm-padding-bottom--10 {
		padding-bottom: 40px!important
	}
	.u-sm-padding-left--10,
	.u-sm-padding-x--10 {
		padding-left: 40px!important
	}
	.u-sm-padding-x--10 {
		padding-right: 40px!important
	}
	.u-sm-padding-y--10 {
		padding-bottom: 40px!important;
		padding-top: 40px!important
	}
	.u-sm-margin--auto {
		margin: auto!important
	}
	.u-sm-margin-top--auto {
		margin-top: auto!important
	}
	.u-sm-margin-right--auto {
		margin-right: auto!important
	}
	.u-sm-margin-bottom--auto {
		margin-bottom: auto!important
	}
	.u-sm-margin-left--auto,
	.u-sm-margin-x--auto {
		margin-left: auto!important
	}
	.u-sm-margin-x--auto {
		margin-right: auto!important
	}
	.u-sm-margin-y--auto {
		margin-bottom: auto!important;
		margin-top: auto!important
	}
}

@media (min-width:768px) {
	.u-md-margin--0 {
		margin: 0!important
	}
	.u-md-margin-top--0 {
		margin-top: 0!important
	}
	.u-md-margin-right--0 {
		margin-right: 0!important
	}
	.u-md-margin-bottom--0 {
		margin-bottom: 0!important
	}
	.u-md-margin-left--0,
	.u-md-margin-x--0 {
		margin-left: 0!important
	}
	.u-md-margin-x--0 {
		margin-right: 0!important
	}
	.u-md-margin-y--0 {
		margin-bottom: 0!important;
		margin-top: 0!important
	}
	.u-md-padding--0 {
		padding: 0!important
	}
	.u-md-padding-top--0 {
		padding-top: 0!important
	}
	.u-md-padding-right--0 {
		padding-right: 0!important
	}
	.u-md-padding-bottom--0 {
		padding-bottom: 0!important
	}
	.u-md-padding-left--0,
	.u-md-padding-x--0 {
		padding-left: 0!important
	}
	.u-md-padding-x--0 {
		padding-right: 0!important
	}
	.u-md-padding-y--0 {
		padding-bottom: 0!important;
		padding-top: 0!important
	}
	.u-md-margin--1 {
		margin: 4px!important
	}
	.u-md-margin-top--1 {
		margin-top: 4px!important
	}
	.u-md-margin-right--1 {
		margin-right: 4px!important
	}
	.u-md-margin-bottom--1 {
		margin-bottom: 4px!important
	}
	.u-md-margin-left--1,
	.u-md-margin-x--1 {
		margin-left: 4px!important
	}
	.u-md-margin-x--1 {
		margin-right: 4px!important
	}
	.u-md-margin-y--1 {
		margin-bottom: 4px!important;
		margin-top: 4px!important
	}
	.u-md-padding--1 {
		padding: 4px!important
	}
	.u-md-padding-top--1 {
		padding-top: 4px!important
	}
	.u-md-padding-right--1 {
		padding-right: 4px!important
	}
	.u-md-padding-bottom--1 {
		padding-bottom: 4px!important
	}
	.u-md-padding-left--1,
	.u-md-padding-x--1 {
		padding-left: 4px!important
	}
	.u-md-padding-x--1 {
		padding-right: 4px!important
	}
	.u-md-padding-y--1 {
		padding-bottom: 4px!important;
		padding-top: 4px!important
	}
	.u-md-margin--2 {
		margin: 8px!important
	}
	.u-md-margin-top--2 {
		margin-top: 8px!important
	}
	.u-md-margin-right--2 {
		margin-right: 8px!important
	}
	.u-md-margin-bottom--2 {
		margin-bottom: 8px!important
	}
	.u-md-margin-left--2,
	.u-md-margin-x--2 {
		margin-left: 8px!important
	}
	.u-md-margin-x--2 {
		margin-right: 8px!important
	}
	.u-md-margin-y--2 {
		margin-bottom: 8px!important;
		margin-top: 8px!important
	}
	.u-md-padding--2 {
		padding: 8px!important
	}
	.u-md-padding-top--2 {
		padding-top: 8px!important
	}
	.u-md-padding-right--2 {
		padding-right: 8px!important
	}
	.u-md-padding-bottom--2 {
		padding-bottom: 8px!important
	}
	.u-md-padding-left--2,
	.u-md-padding-x--2 {
		padding-left: 8px!important
	}
	.u-md-padding-x--2 {
		padding-right: 8px!important
	}
	.u-md-padding-y--2 {
		padding-bottom: 8px!important;
		padding-top: 8px!important
	}
	.u-md-margin--3 {
		margin: 12px!important
	}
	.u-md-margin-top--3 {
		margin-top: 12px!important
	}
	.u-md-margin-right--3 {
		margin-right: 12px!important
	}
	.u-md-margin-bottom--3 {
		margin-bottom: 12px!important
	}
	.u-md-margin-left--3,
	.u-md-margin-x--3 {
		margin-left: 12px!important
	}
	.u-md-margin-x--3 {
		margin-right: 12px!important
	}
	.u-md-margin-y--3 {
		margin-bottom: 12px!important;
		margin-top: 12px!important
	}
	.u-md-padding--3 {
		padding: 12px!important
	}
	.u-md-padding-top--3 {
		padding-top: 12px!important
	}
	.u-md-padding-right--3 {
		padding-right: 12px!important
	}
	.u-md-padding-bottom--3 {
		padding-bottom: 12px!important
	}
	.u-md-padding-left--3,
	.u-md-padding-x--3 {
		padding-left: 12px!important
	}
	.u-md-padding-x--3 {
		padding-right: 12px!important
	}
	.u-md-padding-y--3 {
		padding-bottom: 12px!important;
		padding-top: 12px!important
	}
	.u-md-margin--4 {
		margin: 16px!important
	}
	.u-md-margin-top--4 {
		margin-top: 16px!important
	}
	.u-md-margin-right--4 {
		margin-right: 16px!important
	}
	.u-md-margin-bottom--4 {
		margin-bottom: 16px!important
	}
	.u-md-margin-left--4,
	.u-md-margin-x--4 {
		margin-left: 16px!important
	}
	.u-md-margin-x--4 {
		margin-right: 16px!important
	}
	.u-md-margin-y--4 {
		margin-bottom: 16px!important;
		margin-top: 16px!important
	}
	.u-md-padding--4 {
		padding: 16px!important
	}
	.u-md-padding-top--4 {
		padding-top: 16px!important
	}
	.u-md-padding-right--4 {
		padding-right: 16px!important
	}
	.u-md-padding-bottom--4 {
		padding-bottom: 16px!important
	}
	.u-md-padding-left--4,
	.u-md-padding-x--4 {
		padding-left: 16px!important
	}
	.u-md-padding-x--4 {
		padding-right: 16px!important
	}
	.u-md-padding-y--4 {
		padding-bottom: 16px!important;
		padding-top: 16px!important
	}
	.u-md-margin--5 {
		margin: 20px!important
	}
	.u-md-margin-top--5 {
		margin-top: 20px!important
	}
	.u-md-margin-right--5 {
		margin-right: 20px!important
	}
	.u-md-margin-bottom--5 {
		margin-bottom: 20px!important
	}
	.u-md-margin-left--5,
	.u-md-margin-x--5 {
		margin-left: 20px!important
	}
	.u-md-margin-x--5 {
		margin-right: 20px!important
	}
	.u-md-margin-y--5 {
		margin-bottom: 20px!important;
		margin-top: 20px!important
	}
	.u-md-padding--5 {
		padding: 20px!important
	}
	.u-md-padding-top--5 {
		padding-top: 20px!important
	}
	.u-md-padding-right--5 {
		padding-right: 20px!important
	}
	.u-md-padding-bottom--5 {
		padding-bottom: 20px!important
	}
	.u-md-padding-left--5,
	.u-md-padding-x--5 {
		padding-left: 20px!important
	}
	.u-md-padding-x--5 {
		padding-right: 20px!important
	}
	.u-md-padding-y--5 {
		padding-bottom: 20px!important;
		padding-top: 20px!important
	}
	.u-md-margin--6 {
		margin: 24px!important
	}
	.u-md-margin-top--6 {
		margin-top: 24px!important
	}
	.u-md-margin-right--6 {
		margin-right: 24px!important
	}
	.u-md-margin-bottom--6 {
		margin-bottom: 24px!important
	}
	.u-md-margin-left--6,
	.u-md-margin-x--6 {
		margin-left: 24px!important
	}
	.u-md-margin-x--6 {
		margin-right: 24px!important
	}
	.u-md-margin-y--6 {
		margin-bottom: 24px!important;
		margin-top: 24px!important
	}
	.u-md-padding--6 {
		padding: 24px!important
	}
	.u-md-padding-top--6 {
		padding-top: 24px!important
	}
	.u-md-padding-right--6 {
		padding-right: 24px!important
	}
	.u-md-padding-bottom--6 {
		padding-bottom: 24px!important
	}
	.u-md-padding-left--6,
	.u-md-padding-x--6 {
		padding-left: 24px!important
	}
	.u-md-padding-x--6 {
		padding-right: 24px!important
	}
	.u-md-padding-y--6 {
		padding-bottom: 24px!important;
		padding-top: 24px!important
	}
	.u-md-margin--7 {
		margin: 28px!important
	}
	.u-md-margin-top--7 {
		margin-top: 28px!important
	}
	.u-md-margin-right--7 {
		margin-right: 28px!important
	}
	.u-md-margin-bottom--7 {
		margin-bottom: 28px!important
	}
	.u-md-margin-left--7,
	.u-md-margin-x--7 {
		margin-left: 28px!important
	}
	.u-md-margin-x--7 {
		margin-right: 28px!important
	}
	.u-md-margin-y--7 {
		margin-bottom: 28px!important;
		margin-top: 28px!important
	}
	.u-md-padding--7 {
		padding: 28px!important
	}
	.u-md-padding-top--7 {
		padding-top: 28px!important
	}
	.u-md-padding-right--7 {
		padding-right: 28px!important
	}
	.u-md-padding-bottom--7 {
		padding-bottom: 28px!important
	}
	.u-md-padding-left--7,
	.u-md-padding-x--7 {
		padding-left: 28px!important
	}
	.u-md-padding-x--7 {
		padding-right: 28px!important
	}
	.u-md-padding-y--7 {
		padding-bottom: 28px!important;
		padding-top: 28px!important
	}
	.u-md-margin--8 {
		margin: 32px!important
	}
	.u-md-margin-top--8 {
		margin-top: 32px!important
	}
	.u-md-margin-right--8 {
		margin-right: 32px!important
	}
	.u-md-margin-bottom--8 {
		margin-bottom: 32px!important
	}
	.u-md-margin-left--8,
	.u-md-margin-x--8 {
		margin-left: 32px!important
	}
	.u-md-margin-x--8 {
		margin-right: 32px!important
	}
	.u-md-margin-y--8 {
		margin-bottom: 32px!important;
		margin-top: 32px!important
	}
	.u-md-padding--8 {
		padding: 32px!important
	}
	.u-md-padding-top--8 {
		padding-top: 32px!important
	}
	.u-md-padding-right--8 {
		padding-right: 32px!important
	}
	.u-md-padding-bottom--8 {
		padding-bottom: 32px!important
	}
	.u-md-padding-left--8,
	.u-md-padding-x--8 {
		padding-left: 32px!important
	}
	.u-md-padding-x--8 {
		padding-right: 32px!important
	}
	.u-md-padding-y--8 {
		padding-bottom: 32px!important;
		padding-top: 32px!important
	}
	.u-md-margin--9 {
		margin: 36px!important
	}
	.u-md-margin-top--9 {
		margin-top: 36px!important
	}
	.u-md-margin-right--9 {
		margin-right: 36px!important
	}
	.u-md-margin-bottom--9 {
		margin-bottom: 36px!important
	}
	.u-md-margin-left--9,
	.u-md-margin-x--9 {
		margin-left: 36px!important
	}
	.u-md-margin-x--9 {
		margin-right: 36px!important
	}
	.u-md-margin-y--9 {
		margin-bottom: 36px!important;
		margin-top: 36px!important
	}
	.u-md-padding--9 {
		padding: 36px!important
	}
	.u-md-padding-top--9 {
		padding-top: 36px!important
	}
	.u-md-padding-right--9 {
		padding-right: 36px!important
	}
	.u-md-padding-bottom--9 {
		padding-bottom: 36px!important
	}
	.u-md-padding-left--9,
	.u-md-padding-x--9 {
		padding-left: 36px!important
	}
	.u-md-padding-x--9 {
		padding-right: 36px!important
	}
	.u-md-padding-y--9 {
		padding-bottom: 36px!important;
		padding-top: 36px!important
	}
	.u-md-margin--10 {
		margin: 40px!important
	}
	.u-md-margin-top--10 {
		margin-top: 40px!important
	}
	.u-md-margin-right--10 {
		margin-right: 40px!important
	}
	.u-md-margin-bottom--10 {
		margin-bottom: 40px!important
	}
	.u-md-margin-left--10,
	.u-md-margin-x--10 {
		margin-left: 40px!important
	}
	.u-md-margin-x--10 {
		margin-right: 40px!important
	}
	.u-md-margin-y--10 {
		margin-bottom: 40px!important;
		margin-top: 40px!important
	}
	.u-md-padding--10 {
		padding: 40px!important
	}
	.u-md-padding-top--10 {
		padding-top: 40px!important
	}
	.u-md-padding-right--10 {
		padding-right: 40px!important
	}
	.u-md-padding-bottom--10 {
		padding-bottom: 40px!important
	}
	.u-md-padding-left--10,
	.u-md-padding-x--10 {
		padding-left: 40px!important
	}
	.u-md-padding-x--10 {
		padding-right: 40px!important
	}
	.u-md-padding-y--10 {
		padding-bottom: 40px!important;
		padding-top: 40px!important
	}
	.u-md-margin--auto {
		margin: auto!important
	}
	.u-md-margin-top--auto {
		margin-top: auto!important
	}
	.u-md-margin-right--auto {
		margin-right: auto!important
	}
	.u-md-margin-bottom--auto {
		margin-bottom: auto!important
	}
	.u-md-margin-left--auto,
	.u-md-margin-x--auto {
		margin-left: auto!important
	}
	.u-md-margin-x--auto {
		margin-right: auto!important
	}
	.u-md-margin-y--auto {
		margin-bottom: auto!important;
		margin-top: auto!important
	}
}

@media (min-width:1024px) {
	.u-lg-margin--0 {
		margin: 0!important
	}
	.u-lg-margin-top--0 {
		margin-top: 0!important
	}
	.u-lg-margin-right--0 {
		margin-right: 0!important
	}
	.u-lg-margin-bottom--0 {
		margin-bottom: 0!important
	}
	.u-lg-margin-left--0,
	.u-lg-margin-x--0 {
		margin-left: 0!important
	}
	.u-lg-margin-x--0 {
		margin-right: 0!important
	}
	.u-lg-margin-y--0 {
		margin-bottom: 0!important;
		margin-top: 0!important
	}
	.u-lg-padding--0 {
		padding: 0!important
	}
	.u-lg-padding-top--0 {
		padding-top: 0!important
	}
	.u-lg-padding-right--0 {
		padding-right: 0!important
	}
	.u-lg-padding-bottom--0 {
		padding-bottom: 0!important
	}
	.u-lg-padding-left--0,
	.u-lg-padding-x--0 {
		padding-left: 0!important
	}
	.u-lg-padding-x--0 {
		padding-right: 0!important
	}
	.u-lg-padding-y--0 {
		padding-bottom: 0!important;
		padding-top: 0!important
	}
	.u-lg-margin--1 {
		margin: 4px!important
	}
	.u-lg-margin-top--1 {
		margin-top: 4px!important
	}
	.u-lg-margin-right--1 {
		margin-right: 4px!important
	}
	.u-lg-margin-bottom--1 {
		margin-bottom: 4px!important
	}
	.u-lg-margin-left--1,
	.u-lg-margin-x--1 {
		margin-left: 4px!important
	}
	.u-lg-margin-x--1 {
		margin-right: 4px!important
	}
	.u-lg-margin-y--1 {
		margin-bottom: 4px!important;
		margin-top: 4px!important
	}
	.u-lg-padding--1 {
		padding: 4px!important
	}
	.u-lg-padding-top--1 {
		padding-top: 4px!important
	}
	.u-lg-padding-right--1 {
		padding-right: 4px!important
	}
	.u-lg-padding-bottom--1 {
		padding-bottom: 4px!important
	}
	.u-lg-padding-left--1,
	.u-lg-padding-x--1 {
		padding-left: 4px!important
	}
	.u-lg-padding-x--1 {
		padding-right: 4px!important
	}
	.u-lg-padding-y--1 {
		padding-bottom: 4px!important;
		padding-top: 4px!important
	}
	.u-lg-margin--2 {
		margin: 8px!important
	}
	.u-lg-margin-top--2 {
		margin-top: 8px!important
	}
	.u-lg-margin-right--2 {
		margin-right: 8px!important
	}
	.u-lg-margin-bottom--2 {
		margin-bottom: 8px!important
	}
	.u-lg-margin-left--2,
	.u-lg-margin-x--2 {
		margin-left: 8px!important
	}
	.u-lg-margin-x--2 {
		margin-right: 8px!important
	}
	.u-lg-margin-y--2 {
		margin-bottom: 8px!important;
		margin-top: 8px!important
	}
	.u-lg-padding--2 {
		padding: 8px!important
	}
	.u-lg-padding-top--2 {
		padding-top: 8px!important
	}
	.u-lg-padding-right--2 {
		padding-right: 8px!important
	}
	.u-lg-padding-bottom--2 {
		padding-bottom: 8px!important
	}
	.u-lg-padding-left--2,
	.u-lg-padding-x--2 {
		padding-left: 8px!important
	}
	.u-lg-padding-x--2 {
		padding-right: 8px!important
	}
	.u-lg-padding-y--2 {
		padding-bottom: 8px!important;
		padding-top: 8px!important
	}
	.u-lg-margin--3 {
		margin: 12px!important
	}
	.u-lg-margin-top--3 {
		margin-top: 12px!important
	}
	.u-lg-margin-right--3 {
		margin-right: 12px!important
	}
	.u-lg-margin-bottom--3 {
		margin-bottom: 12px!important
	}
	.u-lg-margin-left--3,
	.u-lg-margin-x--3 {
		margin-left: 12px!important
	}
	.u-lg-margin-x--3 {
		margin-right: 12px!important
	}
	.u-lg-margin-y--3 {
		margin-bottom: 12px!important;
		margin-top: 12px!important
	}
	.u-lg-padding--3 {
		padding: 12px!important
	}
	.u-lg-padding-top--3 {
		padding-top: 12px!important
	}
	.u-lg-padding-right--3 {
		padding-right: 12px!important
	}
	.u-lg-padding-bottom--3 {
		padding-bottom: 12px!important
	}
	.u-lg-padding-left--3,
	.u-lg-padding-x--3 {
		padding-left: 12px!important
	}
	.u-lg-padding-x--3 {
		padding-right: 12px!important
	}
	.u-lg-padding-y--3 {
		padding-bottom: 12px!important;
		padding-top: 12px!important
	}
	.u-lg-margin--4 {
		margin: 16px!important
	}
	.u-lg-margin-top--4 {
		margin-top: 16px!important
	}
	.u-lg-margin-right--4 {
		margin-right: 16px!important
	}
	.u-lg-margin-bottom--4 {
		margin-bottom: 16px!important
	}
	.u-lg-margin-left--4,
	.u-lg-margin-x--4 {
		margin-left: 16px!important
	}
	.u-lg-margin-x--4 {
		margin-right: 16px!important
	}
	.u-lg-margin-y--4 {
		margin-bottom: 16px!important;
		margin-top: 16px!important
	}
	.u-lg-padding--4 {
		padding: 16px!important
	}
	.u-lg-padding-top--4 {
		padding-top: 16px!important
	}
	.u-lg-padding-right--4 {
		padding-right: 16px!important
	}
	.u-lg-padding-bottom--4 {
		padding-bottom: 16px!important
	}
	.u-lg-padding-left--4,
	.u-lg-padding-x--4 {
		padding-left: 16px!important
	}
	.u-lg-padding-x--4 {
		padding-right: 16px!important
	}
	.u-lg-padding-y--4 {
		padding-bottom: 16px!important;
		padding-top: 16px!important
	}
	.u-lg-margin--5 {
		margin: 20px!important
	}
	.u-lg-margin-top--5 {
		margin-top: 20px!important
	}
	.u-lg-margin-right--5 {
		margin-right: 20px!important
	}
	.u-lg-margin-bottom--5 {
		margin-bottom: 20px!important
	}
	.u-lg-margin-left--5,
	.u-lg-margin-x--5 {
		margin-left: 20px!important
	}
	.u-lg-margin-x--5 {
		margin-right: 20px!important
	}
	.u-lg-margin-y--5 {
		margin-bottom: 20px!important;
		margin-top: 20px!important
	}
	.u-lg-padding--5 {
		padding: 20px!important
	}
	.u-lg-padding-top--5 {
		padding-top: 20px!important
	}
	.u-lg-padding-right--5 {
		padding-right: 20px!important
	}
	.u-lg-padding-bottom--5 {
		padding-bottom: 20px!important
	}
	.u-lg-padding-left--5,
	.u-lg-padding-x--5 {
		padding-left: 20px!important
	}
	.u-lg-padding-x--5 {
		padding-right: 20px!important
	}
	.u-lg-padding-y--5 {
		padding-bottom: 20px!important;
		padding-top: 20px!important
	}
	.u-lg-margin--6 {
		margin: 24px!important
	}
	.u-lg-margin-top--6 {
		margin-top: 24px!important
	}
	.u-lg-margin-right--6 {
		margin-right: 24px!important
	}
	.u-lg-margin-bottom--6 {
		margin-bottom: 24px!important
	}
	.u-lg-margin-left--6,
	.u-lg-margin-x--6 {
		margin-left: 24px!important
	}
	.u-lg-margin-x--6 {
		margin-right: 24px!important
	}
	.u-lg-margin-y--6 {
		margin-bottom: 24px!important;
		margin-top: 24px!important
	}
	.u-lg-padding--6 {
		padding: 24px!important
	}
	.u-lg-padding-top--6 {
		padding-top: 24px!important
	}
	.u-lg-padding-right--6 {
		padding-right: 24px!important
	}
	.u-lg-padding-bottom--6 {
		padding-bottom: 24px!important
	}
	.u-lg-padding-left--6,
	.u-lg-padding-x--6 {
		padding-left: 24px!important
	}
	.u-lg-padding-x--6 {
		padding-right: 24px!important
	}
	.u-lg-padding-y--6 {
		padding-bottom: 24px!important;
		padding-top: 24px!important
	}
	.u-lg-margin--7 {
		margin: 28px!important
	}
	.u-lg-margin-top--7 {
		margin-top: 28px!important
	}
	.u-lg-margin-right--7 {
		margin-right: 28px!important
	}
	.u-lg-margin-bottom--7 {
		margin-bottom: 28px!important
	}
	.u-lg-margin-left--7,
	.u-lg-margin-x--7 {
		margin-left: 28px!important
	}
	.u-lg-margin-x--7 {
		margin-right: 28px!important
	}
	.u-lg-margin-y--7 {
		margin-bottom: 28px!important;
		margin-top: 28px!important
	}
	.u-lg-padding--7 {
		padding: 28px!important
	}
	.u-lg-padding-top--7 {
		padding-top: 28px!important
	}
	.u-lg-padding-right--7 {
		padding-right: 28px!important
	}
	.u-lg-padding-bottom--7 {
		padding-bottom: 28px!important
	}
	.u-lg-padding-left--7,
	.u-lg-padding-x--7 {
		padding-left: 28px!important
	}
	.u-lg-padding-x--7 {
		padding-right: 28px!important
	}
	.u-lg-padding-y--7 {
		padding-bottom: 28px!important;
		padding-top: 28px!important
	}
	.u-lg-margin--8 {
		margin: 32px!important
	}
	.u-lg-margin-top--8 {
		margin-top: 32px!important
	}
	.u-lg-margin-right--8 {
		margin-right: 32px!important
	}
	.u-lg-margin-bottom--8 {
		margin-bottom: 32px!important
	}
	.u-lg-margin-left--8,
	.u-lg-margin-x--8 {
		margin-left: 32px!important
	}
	.u-lg-margin-x--8 {
		margin-right: 32px!important
	}
	.u-lg-margin-y--8 {
		margin-bottom: 32px!important;
		margin-top: 32px!important
	}
	.u-lg-padding--8 {
		padding: 32px!important
	}
	.u-lg-padding-top--8 {
		padding-top: 32px!important
	}
	.u-lg-padding-right--8 {
		padding-right: 32px!important
	}
	.u-lg-padding-bottom--8 {
		padding-bottom: 32px!important
	}
	.u-lg-padding-left--8,
	.u-lg-padding-x--8 {
		padding-left: 32px!important
	}
	.u-lg-padding-x--8 {
		padding-right: 32px!important
	}
	.u-lg-padding-y--8 {
		padding-bottom: 32px!important;
		padding-top: 32px!important
	}
	.u-lg-margin--9 {
		margin: 36px!important
	}
	.u-lg-margin-top--9 {
		margin-top: 36px!important
	}
	.u-lg-margin-right--9 {
		margin-right: 36px!important
	}
	.u-lg-margin-bottom--9 {
		margin-bottom: 36px!important
	}
	.u-lg-margin-left--9,
	.u-lg-margin-x--9 {
		margin-left: 36px!important
	}
	.u-lg-margin-x--9 {
		margin-right: 36px!important
	}
	.u-lg-margin-y--9 {
		margin-bottom: 36px!important;
		margin-top: 36px!important
	}
	.u-lg-padding--9 {
		padding: 36px!important
	}
	.u-lg-padding-top--9 {
		padding-top: 36px!important
	}
	.u-lg-padding-right--9 {
		padding-right: 36px!important
	}
	.u-lg-padding-bottom--9 {
		padding-bottom: 36px!important
	}
	.u-lg-padding-left--9,
	.u-lg-padding-x--9 {
		padding-left: 36px!important
	}
	.u-lg-padding-x--9 {
		padding-right: 36px!important
	}
	.u-lg-padding-y--9 {
		padding-bottom: 36px!important;
		padding-top: 36px!important
	}
	.u-lg-margin--10 {
		margin: 40px!important
	}
	.u-lg-margin-top--10 {
		margin-top: 40px!important
	}
	.u-lg-margin-right--10 {
		margin-right: 40px!important
	}
	.u-lg-margin-bottom--10 {
		margin-bottom: 40px!important
	}
	.u-lg-margin-left--10,
	.u-lg-margin-x--10 {
		margin-left: 40px!important
	}
	.u-lg-margin-x--10 {
		margin-right: 40px!important
	}
	.u-lg-margin-y--10 {
		margin-bottom: 40px!important;
		margin-top: 40px!important
	}
	.u-lg-padding--10 {
		padding: 40px!important
	}
	.u-lg-padding-top--10 {
		padding-top: 40px!important
	}
	.u-lg-padding-right--10 {
		padding-right: 40px!important
	}
	.u-lg-padding-bottom--10 {
		padding-bottom: 40px!important
	}
	.u-lg-padding-left--10,
	.u-lg-padding-x--10 {
		padding-left: 40px!important
	}
	.u-lg-padding-x--10 {
		padding-right: 40px!important
	}
	.u-lg-padding-y--10 {
		padding-bottom: 40px!important;
		padding-top: 40px!important
	}
	.u-lg-margin--auto {
		margin: auto!important
	}
	.u-lg-margin-top--auto {
		margin-top: auto!important
	}
	.u-lg-margin-right--auto {
		margin-right: auto!important
	}
	.u-lg-margin-bottom--auto {
		margin-bottom: auto!important
	}
	.u-lg-margin-left--auto,
	.u-lg-margin-x--auto {
		margin-left: auto!important
	}
	.u-lg-margin-x--auto {
		margin-right: auto!important
	}
	.u-lg-margin-y--auto {
		margin-bottom: auto!important;
		margin-top: auto!important
	}
}

@media (min-width:1280px) {
	.u-xl-margin--0 {
		margin: 0!important
	}
	.u-xl-margin-top--0 {
		margin-top: 0!important
	}
	.u-xl-margin-right--0 {
		margin-right: 0!important
	}
	.u-xl-margin-bottom--0 {
		margin-bottom: 0!important
	}
	.u-xl-margin-left--0,
	.u-xl-margin-x--0 {
		margin-left: 0!important
	}
	.u-xl-margin-x--0 {
		margin-right: 0!important
	}
	.u-xl-margin-y--0 {
		margin-bottom: 0!important;
		margin-top: 0!important
	}
	.u-xl-padding--0 {
		padding: 0!important
	}
	.u-xl-padding-top--0 {
		padding-top: 0!important
	}
	.u-xl-padding-right--0 {
		padding-right: 0!important
	}
	.u-xl-padding-bottom--0 {
		padding-bottom: 0!important
	}
	.u-xl-padding-left--0,
	.u-xl-padding-x--0 {
		padding-left: 0!important
	}
	.u-xl-padding-x--0 {
		padding-right: 0!important
	}
	.u-xl-padding-y--0 {
		padding-bottom: 0!important;
		padding-top: 0!important
	}
	.u-xl-margin--1 {
		margin: 4px!important
	}
	.u-xl-margin-top--1 {
		margin-top: 4px!important
	}
	.u-xl-margin-right--1 {
		margin-right: 4px!important
	}
	.u-xl-margin-bottom--1 {
		margin-bottom: 4px!important
	}
	.u-xl-margin-left--1,
	.u-xl-margin-x--1 {
		margin-left: 4px!important
	}
	.u-xl-margin-x--1 {
		margin-right: 4px!important
	}
	.u-xl-margin-y--1 {
		margin-bottom: 4px!important;
		margin-top: 4px!important
	}
	.u-xl-padding--1 {
		padding: 4px!important
	}
	.u-xl-padding-top--1 {
		padding-top: 4px!important
	}
	.u-xl-padding-right--1 {
		padding-right: 4px!important
	}
	.u-xl-padding-bottom--1 {
		padding-bottom: 4px!important
	}
	.u-xl-padding-left--1,
	.u-xl-padding-x--1 {
		padding-left: 4px!important
	}
	.u-xl-padding-x--1 {
		padding-right: 4px!important
	}
	.u-xl-padding-y--1 {
		padding-bottom: 4px!important;
		padding-top: 4px!important
	}
	.u-xl-margin--2 {
		margin: 8px!important
	}
	.u-xl-margin-top--2 {
		margin-top: 8px!important
	}
	.u-xl-margin-right--2 {
		margin-right: 8px!important
	}
	.u-xl-margin-bottom--2 {
		margin-bottom: 8px!important
	}
	.u-xl-margin-left--2,
	.u-xl-margin-x--2 {
		margin-left: 8px!important
	}
	.u-xl-margin-x--2 {
		margin-right: 8px!important
	}
	.u-xl-margin-y--2 {
		margin-bottom: 8px!important;
		margin-top: 8px!important
	}
	.u-xl-padding--2 {
		padding: 8px!important
	}
	.u-xl-padding-top--2 {
		padding-top: 8px!important
	}
	.u-xl-padding-right--2 {
		padding-right: 8px!important
	}
	.u-xl-padding-bottom--2 {
		padding-bottom: 8px!important
	}
	.u-xl-padding-left--2,
	.u-xl-padding-x--2 {
		padding-left: 8px!important
	}
	.u-xl-padding-x--2 {
		padding-right: 8px!important
	}
	.u-xl-padding-y--2 {
		padding-bottom: 8px!important;
		padding-top: 8px!important
	}
	.u-xl-margin--3 {
		margin: 12px!important
	}
	.u-xl-margin-top--3 {
		margin-top: 12px!important
	}
	.u-xl-margin-right--3 {
		margin-right: 12px!important
	}
	.u-xl-margin-bottom--3 {
		margin-bottom: 12px!important
	}
	.u-xl-margin-left--3,
	.u-xl-margin-x--3 {
		margin-left: 12px!important
	}
	.u-xl-margin-x--3 {
		margin-right: 12px!important
	}
	.u-xl-margin-y--3 {
		margin-bottom: 12px!important;
		margin-top: 12px!important
	}
	.u-xl-padding--3 {
		padding: 12px!important
	}
	.u-xl-padding-top--3 {
		padding-top: 12px!important
	}
	.u-xl-padding-right--3 {
		padding-right: 12px!important
	}
	.u-xl-padding-bottom--3 {
		padding-bottom: 12px!important
	}
	.u-xl-padding-left--3,
	.u-xl-padding-x--3 {
		padding-left: 12px!important
	}
	.u-xl-padding-x--3 {
		padding-right: 12px!important
	}
	.u-xl-padding-y--3 {
		padding-bottom: 12px!important;
		padding-top: 12px!important
	}
	.u-xl-margin--4 {
		margin: 16px!important
	}
	.u-xl-margin-top--4 {
		margin-top: 16px!important
	}
	.u-xl-margin-right--4 {
		margin-right: 16px!important
	}
	.u-xl-margin-bottom--4 {
		margin-bottom: 16px!important
	}
	.u-xl-margin-left--4,
	.u-xl-margin-x--4 {
		margin-left: 16px!important
	}
	.u-xl-margin-x--4 {
		margin-right: 16px!important
	}
	.u-xl-margin-y--4 {
		margin-bottom: 16px!important;
		margin-top: 16px!important
	}
	.u-xl-padding--4 {
		padding: 16px!important
	}
	.u-xl-padding-top--4 {
		padding-top: 16px!important
	}
	.u-xl-padding-right--4 {
		padding-right: 16px!important
	}
	.u-xl-padding-bottom--4 {
		padding-bottom: 16px!important
	}
	.u-xl-padding-left--4,
	.u-xl-padding-x--4 {
		padding-left: 16px!important
	}
	.u-xl-padding-x--4 {
		padding-right: 16px!important
	}
	.u-xl-padding-y--4 {
		padding-bottom: 16px!important;
		padding-top: 16px!important
	}
	.u-xl-margin--5 {
		margin: 20px!important
	}
	.u-xl-margin-top--5 {
		margin-top: 20px!important
	}
	.u-xl-margin-right--5 {
		margin-right: 20px!important
	}
	.u-xl-margin-bottom--5 {
		margin-bottom: 20px!important
	}
	.u-xl-margin-left--5,
	.u-xl-margin-x--5 {
		margin-left: 20px!important
	}
	.u-xl-margin-x--5 {
		margin-right: 20px!important
	}
	.u-xl-margin-y--5 {
		margin-bottom: 20px!important;
		margin-top: 20px!important
	}
	.u-xl-padding--5 {
		padding: 20px!important
	}
	.u-xl-padding-top--5 {
		padding-top: 20px!important
	}
	.u-xl-padding-right--5 {
		padding-right: 20px!important
	}
	.u-xl-padding-bottom--5 {
		padding-bottom: 20px!important
	}
	.u-xl-padding-left--5,
	.u-xl-padding-x--5 {
		padding-left: 20px!important
	}
	.u-xl-padding-x--5 {
		padding-right: 20px!important
	}
	.u-xl-padding-y--5 {
		padding-bottom: 20px!important;
		padding-top: 20px!important
	}
	.u-xl-margin--6 {
		margin: 24px!important
	}
	.u-xl-margin-top--6 {
		margin-top: 24px!important
	}
	.u-xl-margin-right--6 {
		margin-right: 24px!important
	}
	.u-xl-margin-bottom--6 {
		margin-bottom: 24px!important
	}
	.u-xl-margin-left--6,
	.u-xl-margin-x--6 {
		margin-left: 24px!important
	}
	.u-xl-margin-x--6 {
		margin-right: 24px!important
	}
	.u-xl-margin-y--6 {
		margin-bottom: 24px!important;
		margin-top: 24px!important
	}
	.u-xl-padding--6 {
		padding: 24px!important
	}
	.u-xl-padding-top--6 {
		padding-top: 24px!important
	}
	.u-xl-padding-right--6 {
		padding-right: 24px!important
	}
	.u-xl-padding-bottom--6 {
		padding-bottom: 24px!important
	}
	.u-xl-padding-left--6,
	.u-xl-padding-x--6 {
		padding-left: 24px!important
	}
	.u-xl-padding-x--6 {
		padding-right: 24px!important
	}
	.u-xl-padding-y--6 {
		padding-bottom: 24px!important;
		padding-top: 24px!important
	}
	.u-xl-margin--7 {
		margin: 28px!important
	}
	.u-xl-margin-top--7 {
		margin-top: 28px!important
	}
	.u-xl-margin-right--7 {
		margin-right: 28px!important
	}
	.u-xl-margin-bottom--7 {
		margin-bottom: 28px!important
	}
	.u-xl-margin-left--7,
	.u-xl-margin-x--7 {
		margin-left: 28px!important
	}
	.u-xl-margin-x--7 {
		margin-right: 28px!important
	}
	.u-xl-margin-y--7 {
		margin-bottom: 28px!important;
		margin-top: 28px!important
	}
	.u-xl-padding--7 {
		padding: 28px!important
	}
	.u-xl-padding-top--7 {
		padding-top: 28px!important
	}
	.u-xl-padding-right--7 {
		padding-right: 28px!important
	}
	.u-xl-padding-bottom--7 {
		padding-bottom: 28px!important
	}
	.u-xl-padding-left--7,
	.u-xl-padding-x--7 {
		padding-left: 28px!important
	}
	.u-xl-padding-x--7 {
		padding-right: 28px!important
	}
	.u-xl-padding-y--7 {
		padding-bottom: 28px!important;
		padding-top: 28px!important
	}
	.u-xl-margin--8 {
		margin: 32px!important
	}
	.u-xl-margin-top--8 {
		margin-top: 32px!important
	}
	.u-xl-margin-right--8 {
		margin-right: 32px!important
	}
	.u-xl-margin-bottom--8 {
		margin-bottom: 32px!important
	}
	.u-xl-margin-left--8,
	.u-xl-margin-x--8 {
		margin-left: 32px!important
	}
	.u-xl-margin-x--8 {
		margin-right: 32px!important
	}
	.u-xl-margin-y--8 {
		margin-bottom: 32px!important;
		margin-top: 32px!important
	}
	.u-xl-padding--8 {
		padding: 32px!important
	}
	.u-xl-padding-top--8 {
		padding-top: 32px!important
	}
	.u-xl-padding-right--8 {
		padding-right: 32px!important
	}
	.u-xl-padding-bottom--8 {
		padding-bottom: 32px!important
	}
	.u-xl-padding-left--8,
	.u-xl-padding-x--8 {
		padding-left: 32px!important
	}
	.u-xl-padding-x--8 {
		padding-right: 32px!important
	}
	.u-xl-padding-y--8 {
		padding-bottom: 32px!important;
		padding-top: 32px!important
	}
	.u-xl-margin--9 {
		margin: 36px!important
	}
	.u-xl-margin-top--9 {
		margin-top: 36px!important
	}
	.u-xl-margin-right--9 {
		margin-right: 36px!important
	}
	.u-xl-margin-bottom--9 {
		margin-bottom: 36px!important
	}
	.u-xl-margin-left--9,
	.u-xl-margin-x--9 {
		margin-left: 36px!important
	}
	.u-xl-margin-x--9 {
		margin-right: 36px!important
	}
	.u-xl-margin-y--9 {
		margin-bottom: 36px!important;
		margin-top: 36px!important
	}
	.u-xl-padding--9 {
		padding: 36px!important
	}
	.u-xl-padding-top--9 {
		padding-top: 36px!important
	}
	.u-xl-padding-right--9 {
		padding-right: 36px!important
	}
	.u-xl-padding-bottom--9 {
		padding-bottom: 36px!important
	}
	.u-xl-padding-left--9,
	.u-xl-padding-x--9 {
		padding-left: 36px!important
	}
	.u-xl-padding-x--9 {
		padding-right: 36px!important
	}
	.u-xl-padding-y--9 {
		padding-bottom: 36px!important;
		padding-top: 36px!important
	}
	.u-xl-margin--10 {
		margin: 40px!important
	}
	.u-xl-margin-top--10 {
		margin-top: 40px!important
	}
	.u-xl-margin-right--10 {
		margin-right: 40px!important
	}
	.u-xl-margin-bottom--10 {
		margin-bottom: 40px!important
	}
	.u-xl-margin-left--10,
	.u-xl-margin-x--10 {
		margin-left: 40px!important
	}
	.u-xl-margin-x--10 {
		margin-right: 40px!important
	}
	.u-xl-margin-y--10 {
		margin-bottom: 40px!important;
		margin-top: 40px!important
	}
	.u-xl-padding--10 {
		padding: 40px!important
	}
	.u-xl-padding-top--10 {
		padding-top: 40px!important
	}
	.u-xl-padding-right--10 {
		padding-right: 40px!important
	}
	.u-xl-padding-bottom--10 {
		padding-bottom: 40px!important
	}
	.u-xl-padding-left--10,
	.u-xl-padding-x--10 {
		padding-left: 40px!important
	}
	.u-xl-padding-x--10 {
		padding-right: 40px!important
	}
	.u-xl-padding-y--10 {
		padding-bottom: 40px!important;
		padding-top: 40px!important
	}
	.u-xl-margin--auto {
		margin: auto!important
	}
	.u-xl-margin-top--auto {
		margin-top: auto!important
	}
	.u-xl-margin-right--auto {
		margin-right: auto!important
	}
	.u-xl-margin-bottom--auto {
		margin-bottom: auto!important
	}
	.u-xl-margin-left--auto,
	.u-xl-margin-x--auto {
		margin-left: auto!important
	}
	.u-xl-margin-x--auto {
		margin-right: auto!important
	}
	.u-xl-margin-y--auto {
		margin-bottom: auto!important;
		margin-top: auto!important
	}
}

.u-align--center {
	text-align: center!important
} 
